/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 26, 2018, 3:04:38 PM
    Author     : maroulidis
*/


div.input-group-select{
	/*margin-left: -6px;*/
	/*margin-right: 0;*/
}

.custom-field-inline-edit-link{
	display: none;
}
body{
	font-size: 12px;
}


table.table-actions th:first-child{
	width: 80px;
}

table.table-actions tr td:nth-child(2),
table.table-actions-client-profile tr td:nth-child(2){
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

table.table-actions,
table.table-actions-client-profile{
	width: 100%;
}


select.form-control, 
.dataTables_length select, 
input[type="text"], 
input[type="file"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input, 
input[type="color"]{
	font-size: 12px;
	height: 24px;
}

textarea.form-control{
	font-size: 12px;
}

.input-group-addon{
	padding: 2px 10px;
	font-size: 12px;
}

.input-group-select .input-group-addon {
    padding-top: 5px;
}

.bootstrap-select .btn-default{
	padding: 2px 10px;
    line-height: 1.5;
    height: 24px;
}

.ajax-remove-values-option .ajax-clear-values{
	top: 6px;
}

label, .control-label{
	font-size: 12px;
}

.btn{
	font-size: 12px;
	line-height: 1;
}

#small-table .table>tbody>tr>td a{
	font-size: 12px;
}

.dt-buttons.btn-group .btn{
	font-size: 12px;
	padding-bottom: 4px;
}

div.action-assigned div.btn-group{
	font-size: 80%;
}

input[type="file"]{
    height: 34px;
}

.input-group-addon a{
    padding: 0px 5px;
}

.form-group {
    margin-bottom: 5px;
}

div.prodiagrafes-buttons{
	padding: 2px 10px;
    font-size: 12px;
    color: #97a8be;
	display: inline-block;
}

div.prodiagrafes-buttons a{
	padding: 0px 5px;
}

span.allo{
	color: #03A9F4;
}